$masterBackground: #b9e7e7;
$masterButton: teal;
$darkGray: #444444;

* {
	box-sizing: border-box;
}

html, body, #root {
	height: 100dvh;
}

.app {
	font-family: Calibri;
	display: flex;
	justify-content: center;
	height: 100%;

	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;

		//NAVBAR
		.navbar{
			display: flex;
			justify-content: center;
			font-size: 1.25rem;
			color: $darkGray;

			.nav-container{
				display: flex;
				justify-content: space-between;
				padding: 1rem;
				width: 80%;
				max-width: 64em;

				.logo{

				}

				.links{
					display: flex;
					gap: 1rem;
				}
			}
		}

		//HOME
		.home {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $masterBackground;
			height: 100%;
			width: 100%;

			.home-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: 1.5rem;
				gap: .5rem;
				transform: translateY(-3rem);

				h1 {
					font-size: 3rem;
					margin: 0;
					padding: 0;
					line-height: 1;
					color: teal;
				}

				.button-container {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding: 2rem;
					background-color: white;
					gap: 1rem;
					width: 20rem;
					border-radius: 5px;
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.05);
					
					.button {
						align-self: center;
						text-align: center;
						border: none;
						border-radius: 5px;
						font-size: 1.5rem;
						padding: 1rem;
						width: 80%;
						color: white;
						background-color: $masterButton;
					}
					
					p {
						color: $darkGray;
					}
				}

				h2 {
					font-size: 2rem;
					color: teal;
				}

			}
		}

		//LOGIN & REGISTER
		.auth {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: $masterBackground;
			height: 100%;

			h1 {
				font-size: 2rem;
				padding-bottom: 1rem;
				color: teal;
			}

			form {
				position: relative;
				display: flex;
				flex-direction: column;
				padding: 2rem;
				background-color: white;
				gap: 1rem;
				width: 20rem;
				border-radius: 5px;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.05);

				h2 {
					font-size: 1.5rem;
					color: $darkGray;
					text-align: center;
				}

				label {
					font-size: 1.125rem;
					margin-bottom: -0.5rem;
					color: $darkGray;
				}

				.input-container {
					position: relative;
					display: flex;
					align-items: center;
					width: 100%;
				}

				input {
					border: none;
					border-bottom: 1px solid $darkGray;
					height: 2.25rem;
					padding-left: 0.25rem;
					font-size: 1.125rem;
					background-color: #effffe;
					color: $darkGray;
					width: 100%;

					&:focus {
						outline: none;
						background-color: transparent;
					}

					&:not(:placeholder-shown) {
						background-color: transparent;
					}

					&[type='password'] {
						font-size: 1.5rem;
					}
				}

				input:-webkit-autofill {
					background-color: transparent !important;
					box-shadow: 0 0 0px 1000px white inset !important;
				}

				.validatePw {
					position: absolute;
					right: 0.25rem;
				}

				.visible {
					position: absolute;
					right: 0.25rem;
				}

				.remember-me {
					display: flex;
					align-items: center;
					gap: .5rem;
					color: $darkGray;
					font-size: 1rem;
				}

				.forgot-password {
					display: flex;
					margin-left: auto;
					color: teal;
					font-weight: bold;
					text-decoration: underline;
				}

				button {
					align-self: center;
					border: none;
					border-radius: 5px;
					font-size: 1.25rem;
					padding: 1rem;
					width: 80%;
					color: white;
					background-color: $masterButton;
				}

				p {
					color: red;
					text-align: center;
				}

				.validation-error {
					text-align: left;
					margin-top: -0.5rem;
				}

				span {
					text-align: center;
				}

				.link {
					font-weight: bold;
					text-decoration: underline;
					color: teal;
				}
			}
		}
	}
}
